In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Creating a series in pandas
ds = pd.Series([3, -5, 7, 4], index=["Day 1", "Day 2", "Day 3", "Day 4"])
ds
type(ds)
ds

Day 1    3
Day 2   -5
Day 3    7
Day 4    4
dtype: int64

In [5]:
data = {
    "v": [30.2, 31.4, 32.5, 28.9],
    "u": [21.2, 10.4, 0, 2],
    "t": [2.1, 3.4, 8.2, 4.1],
    "Direction": ["SW", "S", "N", "NE"],
}

# Create a dataframe from the data and set the keys as column headers
df = pd.DataFrame(data, columns=data.keys())
df

      v     u    t Direction
0  30.2  21.2  2.1        SW
1  31.4  10.4  3.4         S
2  32.5   0.0  8.2         N
3  28.9   2.0  4.1        NE

# Df Head 
## show the first n (2 by default) rows of the dataframe

In [6]:
df.head(n=2)

      v     u    t Direction
0  30.2  21.2  2.1        SW
1  31.4  10.4  3.4         S

In [7]:
df.shape  # Provides the shape of the dataframe

(4, 4)

In [8]:
df.head(n=2).shape

(2, 4)

In [9]:
df.u #only calling the properties of u

0    21.2
1    10.4
2     0.0
3     2.0
Name: u, dtype: float64

In [10]:
df.u[0] = 21.5

/var/folders/zj/0jc30mj16qngry2d6wc7ynbr0000gn/T/ipykernel_3089/1282104443.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.u[0] = 21.5

In [1]:
df.u

NameError: name 'df' is not defined