### Comments in py

In [ ]:
#this is a single line comment

In [ ]:
"""
This is a multiline comment 
See how it works 
"""

### Input and Output

In [3]:
#printing onto the terminal 
print(f'2 is a string {6} is an int')

#Input method 
text = input('Enter a double digit value:')
text

2 is a string 6 is an int

'45'

In [7]:
print(text)
type(text)

45

str

In [5]:
Int = int(input('enter a value'))
Int

7

In [6]:
type(Int)

int

# Data Types

In [9]:
type('here') #string
print(''' This string has a single (') and double (") quote.''')

 This string has a single (') and double (") quote.

In [13]:
''' The len method gives the total length of the var '''
x = 'testing to see if i get the total length'
len(x) #40
len(x[0]) #1

1

In [14]:
len( x[::2] )  #slicing the array with

20

In [17]:
#concatenating strings 
print('hello'+ 'World')

helloWorld

In [18]:
print( 'Python \n'*2 ) #string repetition

Python
Python

In [19]:
print('Python '*10)

Python Python Python Python Python Python Python Python Python Python

In [20]:
#The split() method splits a string along the given separator
x = 'INTENSITY PRODUCES SHORT-TERM RESULT; CONSISTENCY YIELDS LONGTERM RESULTS'
print( x.split(' ') )

['INTENSITY', 'PRODUCES', 'SHORT-TERM', 'RESULT;', 'CONSISTENCY', 'YIELDS', 'LONGTERM', 'RESULTS']

In [21]:
type(4 + 2j)

complex

In [22]:
complex(2,3)

(2+3j)

In [23]:
5%2

1

In [24]:
5**2

25

In [25]:
5//2

2

In [26]:
5/2

2.5

In [27]:
2^2

0

In [29]:
'''Lists '''
a = [1,2,3,4,5]
type(a)

list

In [33]:
a = [1,2,3,4]
a1 = [
    [1,2,3,4],
    ['H','A','T','P']
]
a1[1][0]

'H'

In [34]:
a[0] = 9
a

[9, 2, 3, 4]

In [35]:
a1[1].append('G')
a1

[[1, 2, 3, 4], ['H', 'A', 'T', 'P', 'G']]

In [36]:
a.insert(2,9)
a

[9, 2, 9, 3, 4]

In [ ]:
# tuples cannot be mutated