# LOOPS

### while loop

In [4]:
a = 99 

while 20 < a:
    print('still mid and less')
    a = a - 20
    print(a)

still mid and less
79
still mid and less
59
still mid and less
39
still mid and less
19

In [5]:
x = 1 
while x < 8:
    print("x is ",x)
    x += 1
else:
    print("x is no longer < 8")

x is  1
x is  2
x is  3
x is  4
x is  5
x is  6
x is  7
x is no longer < 8

In [8]:
C = 11

while C < 70 :
    c = C
    F = (9*C/5) + 32
    print(f'The Farenheit equivalence of {c} degree Celsius is {F} ')
    C += 5

The Farenheit equivalence of 11 degree Celsius is 51.8
The Farenheit equivalence of 16 degree Celsius is 60.8
The Farenheit equivalence of 21 degree Celsius is 69.8
The Farenheit equivalence of 26 degree Celsius is 78.8
The Farenheit equivalence of 31 degree Celsius is 87.8
The Farenheit equivalence of 36 degree Celsius is 96.8
The Farenheit equivalence of 41 degree Celsius is 105.8
The Farenheit equivalence of 46 degree Celsius is 114.8
The Farenheit equivalence of 51 degree Celsius is 123.8
The Farenheit equivalence of 56 degree Celsius is 132.8
The Farenheit equivalence of 61 degree Celsius is 141.8
The Farenheit equivalence of 66 degree Celsius is 150.8

In [14]:
value = int(input('input a value from  8 - 20'))
n = 2
while n < value :
    m = 2 
    count = 0
    while m <= n//2 :
        if n%m == 0:
             count+=1
        m+=1
    print(n , count) if count==0 else print(n,count)
    n+=1

2 0
3 0
4 1
5 0
6 2
7 0
8 2
9 1

3

## For loop

In [18]:
# Example with a string
Language = "PYTHON PROGRAMMING"

for l in Language[:6]: 
    print(l)

P
Y
T
H
O
N

In [19]:
# Example with list of strings
Animals = ["Dog","Goat","Cat","Fish"]
for a in Animals:
    print(a)

Dog
Goat
Cat
Fish

In [21]:
# Using for loop with ranges
for x in range(1,5,2):
    print(x)


for x in range( 5 ):
    print( x )

1
3
0
1
2
3
4

In [24]:
sequence = [1,2,'Yes',5,'OneQuantum','PY4CA','Ghana','57','MeteoData']

   #index, item
for index,seq in enumerate(sequence):
    print(index, seq)

0 1
1 2
2 Yes
3 5
4 OneQuantum
5 PY4CA
6 Ghana
7 57
8 MeteoData

In [25]:
# Example

A = [1,2,3,4,5,6,7,8,9,10]
B = [5, 3]
for a in A:
    for b in B:
        y= a * b
        print(a,'*',b,'=',y)

1 * 5 = 5
1 * 3 = 3
2 * 5 = 10
2 * 3 = 6
3 * 5 = 15
3 * 3 = 9
4 * 5 = 20
4 * 3 = 12
5 * 5 = 25
5 * 3 = 15
6 * 5 = 30
6 * 3 = 18
7 * 5 = 35
7 * 3 = 21
8 * 5 = 40
8 * 3 = 24
9 * 5 = 45
9 * 3 = 27
10 * 5 = 50
10 * 3 = 30

In [29]:
import numpy as np 

m = 1 # mass
f = 1 # force
t_final = 10 # final time
dt = 0.01 # time step

# Initial conditions
v0 = 0 # initial velocity
x0 = 0 # initial position

# Lists to store the results
t_list = [0]
v_list = [v0]
x_list = [x0]

for i in range(int(t_final/dt)):
    # update velocity
    v = v_list[-1] + f/m*dt
    v_list.append(v)
    
    # update position
    x = x_list[-1] + v_list[-1]*dt
    x_list.append(x)
    
    # update time
    t = (i+1)*dt
    t_list.append(t)
    
    print('t = {:.2f}s; x = {:.3f}m; v(t) = {:.2f}m/s'.format(t, x, v))

print(t_list)

range(0, 1000)
[0]

In [30]:
range(1000)

range(0, 1000)