In [1]:
import numpy as np 
import pandas as pd

In [6]:
np.random.seed(42)

data = np.random.randn(2000, 4)

df = pd.DataFrame(data, columns=['item1', 'item2', 'item3', 'output1'])

In [7]:
df.head()

      item1     item2     item3   output1
0  0.496714 -0.138264  0.647689  1.523030
1 -0.234153 -0.234137  1.579213  0.767435
2 -0.469474  0.542560 -0.463418 -0.465730
3  0.241962 -1.913280 -1.724918 -0.562288
4 -1.012831  0.314247 -0.908024 -1.412304